## Python File

## create a file,the open(filename,mode) built function

### When opening a file, we must specify the mode we want to which specifies what we want to do with the file. Hereâ€™s a table of the different modes available: Please refer File Mode in Python for examples of different modes.

#### Mode	Description	Behavior
#### r	Read-only mode.	Opens the file for reading. File must exist; otherwise, it raises an error.
#### rb	Read-only in binary mode.	Opens the file for reading binary data. File must exist; otherwise, it raises an error.
#### r+	Read and write mode.	Opens the file for both reading and writing. File must exist; otherwise, it raises an error.
#### rb+	Read and write in binary mode.	Opens the file for both reading and writing binary data. File must exist; otherwise, it raises an error.
#### w	Write mode.	Opens the file for writing. Creates a new file or truncates the existing file.
#### wb	Write in binary mode.	Opens the file for writing binary data. Creates a new file or truncates the existing file.
#### w+	Write and read mode.	Opens the file for both writing and reading. Creates a new file or truncates the existing file.
#### wb+	Write and read in binary mode.	Opens the file for both writing and reading binary data. Creates a new file or truncates the existing file.
#### a	Append mode.	Opens the file for appending data. Creates a new file if it doesn't exist.
#### ab	Append in binary mode.	Opens the file for appending binary data. Creates a new file if it doesn't exist.
#### a+	Append and read mode.	Opens the file for appending and reading. Creates a new file if it doesn't exist.
#### ab+	Append and read in binary mode.	Opens the file for appending and reading binary data. Creates a new file if it doesn't exist.
#### x	Exclusive creation mode.	Creates a new file. Raises an error if the file already exists.
#### xb	Exclusive creation in binary mode.	Creates a new binary file. Raises an error if the file already exists.
#### x+	Exclusive creation with read and write mode.	Creates a new file for reading and writing. Raises an error if the file exists.
#### xb+	Exclusive creation with read and write in binary mode.	Creates a new binary file for reading and writing. Raises an error if the file exists.

In [4]:
# crete an empty file
f = open("./hello.txt",'w')
print(f)
f.close()

<_io.TextIOWrapper name='./hello.txt' mode='w' encoding='cp936'>

In [6]:
# write content
f = open("./hello.txt",'w')
f.write("Hello, I am a file created by python")
# close() close the file after writting it
f.close()

In [9]:
# Writing to a File in Append Mode (a)
# It is done using file.write() which adds the specified string to the end of the file without erasing its existing content.

# Example: For this example, we will use the Python file created in the previous example
f = open("./hello.txt",'a')
f.write("\n This is appended text")
f.close()

In [7]:
# read the file
f1 = open("./hello.txt",'r')
print(f1.read())
# close()
f1.close()

Hello, I am a file created by python

In [9]:
# Reading a File in Binary Mode (rb)
file = open("./hello.txt","rb")
content = file.read()
print(content)
file.close()

b'Hello, I am a file created by python'

In [10]:
# with open(filename,op) as f: ...
with open("test.txt","a") as f:
    f.write("Hello World\n")
    f.write("Lets learn some file operation\n")

In [11]:
# file data itoration
with open("test.txt","r") as f:
    for i in f:
        print(i)

Hello World

Lets learn some file operation

## Python Database Operation

### python support many database,but here we just use sqlite database.

### python has a module name sqlite3,we can use that to study

### the sqlite3 module is not in the python core,we need to import it into memory

In [12]:
import sqlite3

In [13]:
# connect to database
db = sqlite3.connect("data.db")

In [14]:
# get the cursor object in order to be able to insert data
cursor = db.cursor()
print(cursor)

<sqlite3.Cursor object at 0x0000029D6F31C180>

In [15]:
# get the sqlite database version
query = "select sqlite_version()"
cursor.execute(query) # execute() dones't return any value
res = cursor.fetchall()
print(f"The current sqlite verson: {res}")

The current sqlite verson: [('3.14.2',)]

In [16]:
# create a data table
cursor.execute("DROP TABLE IF EXISTS users")
table = """ CREATE TABLE users (
            Email VARCHAR(255) NOT NULL,
            Name CHAR(25) NOT NULL,
            Gender CHAR(6) NOT NULL, 
            Age int
        ); """
cursor.execute(table)   
print("Table is Ready")

Table is Ready

In [17]:
# insert data(record)
cursor.execute('''INSERT INTO users VALUES ('u1@gmail.com', 'User1', 'male',18)''')
cursor.execute('''INSERT INTO users VALUES ('u2@gmail.com', 'User2', 'female',17)''')
cursor.execute('''INSERT INTO users VALUES ('u3@gmail.com', 'User3', 'female',19)''')
cursor.execute('''INSERT INTO users VALUES ('u4@gmail.com', 'User4', 'male',18)''')
cursor.execute('''INSERT INTO users VALUES ('u5@gmail.com', 'User5', 'female',19)''')
cursor.execute('''INSERT INTO users VALUES ('u6@gmail.com', 'User6', 'male',16)''')
cursor.execute('''INSERT INTO users VALUES ('u7@gmail.com', 'User7', 'female',16)''')
cursor.execute('''INSERT INTO users VALUES ('u8@gmail.com', 'User8', 'female',18)''')
cursor.execute('''INSERT INTO users VALUES ('u9@gmail.com', 'User9', 'female',20)''')

In [18]:
# query data,get everything in the data
sql="select * from users"
data = cursor.execute(sql)
for row in data:
    print(row)

('u1@gmail.com', 'User1', 'male', 18)
('u2@gmail.com', 'User2', 'female', 17)
('u3@gmail.com', 'User3', 'female', 19)
('u4@gmail.com', 'User4', 'male', 18)
('u5@gmail.com', 'User5', 'female', 19)
('u6@gmail.com', 'User6', 'male', 16)
('u7@gmail.com', 'User7', 'female', 16)
('u8@gmail.com', 'User8', 'female', 18)
('u9@gmail.com', 'User9', 'female', 20)

In [19]:
# use the where clause1
sql="select * from users where gender='male'"
data = cursor.execute(sql)
for row in data:
    print(row)

('u1@gmail.com', 'User1', 'male', 18)
('u4@gmail.com', 'User4', 'male', 18)
('u6@gmail.com', 'User6', 'male', 16)

In [20]:
sql="select * from users where gender<>'male'" # <> means not euqals to
data = cursor.execute(sql)
for row in data:
    print(row)

('u2@gmail.com', 'User2', 'female', 17)
('u3@gmail.com', 'User3', 'female', 19)
('u5@gmail.com', 'User5', 'female', 19)
('u7@gmail.com', 'User7', 'female', 16)
('u8@gmail.com', 'User8', 'female', 18)
('u9@gmail.com', 'User9', 'female', 20)

In [21]:
# use the where clause and the in keyword
sql="select * from users where Age in (17,18,20)" # in keyword
data = cursor.execute(sql)
for row in data:
    print(row)

('u1@gmail.com', 'User1', 'male', 18)
('u2@gmail.com', 'User2', 'female', 17)
('u4@gmail.com', 'User4', 'male', 18)
('u8@gmail.com', 'User8', 'female', 18)
('u9@gmail.com', 'User9', 'female', 20)

In [22]:
# use the where clause and the between...amd... keyword ,including both
sql="select * from users where Age between 18 and 20" # in keyword
data = cursor.execute(sql)
for row in data:
    print(row)

('u1@gmail.com', 'User1', 'male', 18)
('u3@gmail.com', 'User3', 'female', 19)
('u4@gmail.com', 'User4', 'male', 18)
('u5@gmail.com', 'User5', 'female', 19)
('u8@gmail.com', 'User8', 'female', 18)
('u9@gmail.com', 'User9', 'female', 20)

In [24]:
# use the where clause and the order by and asc or desc
# sql="select * from users where Gender='female' order by Age asc" # in keyword
sql="select * from users where Gender='female' order by Age desc" # in keyword
data = cursor.execute(sql)
for row in data:
    print(row)

('u9@gmail.com', 'User9', 'female', 20)
('u3@gmail.com', 'User3', 'female', 19)
('u5@gmail.com', 'User5', 'female', 19)
('u8@gmail.com', 'User8', 'female', 18)
('u2@gmail.com', 'User2', 'female', 17)
('u7@gmail.com', 'User7', 'female', 16)

In [25]:
# update data,using the update statement
sql = "update users set Name='MyUser1' where Name='User1'"
cursor.execute(sql)
# check the data
sql="select * from users"
data = cursor.execute(sql)
for row in data:
    print(row)

('u1@gmail.com', 'MyUser1', 'male', 18)
('u2@gmail.com', 'User2', 'female', 17)
('u3@gmail.com', 'User3', 'female', 19)
('u4@gmail.com', 'User4', 'male', 18)
('u5@gmail.com', 'User5', 'female', 19)
('u6@gmail.com', 'User6', 'male', 16)
('u7@gmail.com', 'User7', 'female', 16)
('u8@gmail.com', 'User8', 'female', 18)
('u9@gmail.com', 'User9', 'female', 20)

In [26]:
# delete record using the delete statement,but don't just use delete from users.this will delete everything!
sql = "delete from users where Name like 'My%'" # this will delete MyUser1 record
cursor.execute(sql)
# check the data
sql="select * from users"
data = cursor.execute(sql)
for row in data:
    print(row)

('u2@gmail.com', 'User2', 'female', 17)
('u3@gmail.com', 'User3', 'female', 19)
('u4@gmail.com', 'User4', 'male', 18)
('u5@gmail.com', 'User5', 'female', 19)
('u6@gmail.com', 'User6', 'male', 16)
('u7@gmail.com', 'User7', 'female', 16)
('u8@gmail.com', 'User8', 'female', 18)
('u9@gmail.com', 'User9', 'female', 20)